@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Update";
}

<h2>Update @Model.Name</h2>
<a class="button" href="/Species/List">Back to List</a>
<form action="/Species/Update/@Model.SpeciesID" method="POST" >
    <span>Species Name : </span><input type="text" name="SpeciesName" id="SpeciesName" value="@Model.Name"/>
    <input type="submit" value="Update Species" />


</form>
